h1 {
    color : #9e0e40;
    background-color: lavenderblush;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

strong {
    color : purple;
}

a:hover {
    color: gold;
}

p {
    text-decoration: underline;
}
.maintable {
    background-color: lightcoral;
    text-align: center;
}

.maintable td, .maintable th {
    border-right: 1px solid ;
}

.tablecat {
    background-color: #71194b;
    color: white;
    width: 100%;
    height: 25%;
}

.tablecat tr{
    height: 5em;
}

.categ {
    text-align: right;
}

.button {
    display: inline-block;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: peru;
    color: #333;
    font-weight: bold;
}

.button:hover {
    background-color: #ddd;
    color: #9e0e40;
}

footer {
    text-align: center;
    background-color: lavenderblush;
    color: #9e0e40;
}